page-favorites {
    ion-content {
        background-image: url(https://i.pinimg.com/736x/4b/15/9a/4b159a299eaf0304b485b907779ec5fb--cellphone-wallpapers-backgrounds-wallpapers.jpg);
        background-position: center;
        background-size: cover;
    }

    .alternative-background {
        background-image: url(https://i.pinimg.com/736x/5a/d1/5a/5ad15aabb8f8a930aa0c26ebe78227fb--wallpaper-ponsel-spring-wallpaper.jpg);
        background-position: center;
        background-size: cover;
    }
}